@media print {
	.pmpro_a-print {display: none; position: absolute; left: -9999px; }
}

/*
     FILE ARCHIVED ON 00:26:01 Apr 13, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:48:24 Sep 04, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.616
  exclusion.robots: 0.027
  exclusion.robots.policy: 0.015
  esindex: 0.011
  cdx.remote: 12.597
  LoadShardBlock: 54.607 (3)
  PetaboxLoader3.datanode: 68.601 (4)
  load_resource: 5242.72
  PetaboxLoader3.resolve: 5192.335
*/